body {
    background-color: #131313;
}

.nav-link:hover {
    border-bottom: 2px solid #fff;
}

.nav-link{
    border-bottom: 2px solid #212529;
}

.btn-primary {
    background-color: #212529 !important;
    border-color: #fff;
    outline: 0 !important;
}

.btn-primary:hover {
    background-color: #5e5e5e !important;
    border-color: #fff;
    outline: 0 !important;
}
